# dependencies
node_modules/
.pnpm-store/
.next/
dist/

# local env files
.env
.env*.local
.env.local
.env.development.local
.env.production.local
.env.production

# logs
*.log
.runtime/
runtime/

# OS junk
.DS_Store

# build output
out/
.env.production.local.backup.*
