# dependencies
node_modules/
.pnpm-store/
.next/
dist/

# local env files
.env
.env*.local
.env.local
.env.development.local
.env.production.local

# logs
*.log
.runtime/

# OS junk
.DS_Store

# build output
out/
